@import "navbar.css";

body {
    background-color: #f3f3f3;
    font-family: 'Manrope', sans-serif;
}

h1 {
    text-transform: uppercase;    
    text-align: center;
}

/* MAP */ 

.mapdiv {
    padding-top: 1em;
    align-content: center;
    text-align: center;
}

.interactive-title {
    margin-bottom: .5em;
}

/* FLEX DIV */

.flexDiv {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: center;
}

/* DIV ATTENDED HACKATHONS */

h3 {
    margin-block-end: 0em;
}

span {
    font-style: italic;
    font-size: 13px;
    color: indigo;
}

.iconsDiv {
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 2em;
    padding-right: 2em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    width: fit-content;;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.hackblock{
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    width: 40em;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hackblock-org {
    background-color: rgba(240, 128, 128, 0.61);
}

.hackblock-online {
    background-color: rgba(93, 146, 214, 0.61);
}

.hackblock-spain {
    background-color: #ce1c16b0;
}

.hackblock-netherland {
    background-color: #4c59cf9c;
}

.hackblock-denmark {
    background-color: #005e3896;
}

.hackblock-swizerland {
    background-color: #f18629a1;
}

.hackblock-ruiscothland {
    background-color: #3cc954a6;
}

.hackblock-usa {
    background-color: #7a15cc85;
}

.linkblock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

i {
    margin-right: 10px;
    color: rgb(27, 27, 184);
}

@media screen and (max-width: 1550px) {
    .hackblock{
        padding-top: .3em;
        padding-bottom: .3em;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 1em;
        width: 30em;
    }
}

@media screen and (max-width: 1200px) {
    .hackblock{
        padding-top: .3em;
        padding-bottom: .3em;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 1em;
        width: 20em;
    }
}
