@import "navbar.css";

body {
    background-color: #f3f3f3;
    font-family: 'Manrope', sans-serif;
}

h1 {
    text-transform: uppercase;    
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 35px;
}

/* MAP */ 

.mapdiv {
    padding-top: 1em;
    align-content: center;
    text-align: center;
}

.interactive-title {
    margin-bottom: .5em;
}

/* FLEX DIV */

.flexDiv {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: center;
}

/* DIV ATTENDED HACKATHONS */

h3 {
    margin-block-end: 0;
}

span {
    font-style: italic;
    font-size: 13px;
    color: indigo;
}

.iconsDiv {
    padding: .3em 2em;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgb(51, 51, 51) 0 0 0 3px;
    width: fit-content;;
    text-align: center;
    margin: 50px auto 20px;
    display: flex;
    align-items: center;
}

.hackblock{
    padding: .3em 1em;
    margin-bottom: 1em;
    width: 40em;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 10px;
    background-color: white;
    border-radius: 20px;
}

.hackblock-org {
    border: 4px solid rgba(240, 128, 128, 0.61);
}

.hackblock-online {
    border: 4px solid rgba(93, 146, 214, 0.61);
}

.hackblock-spain {
    border: 4px solid #ce1c16b0;
}

.hackblock-netherland {
    border: 4px solid #4c59cf9c;
}

.hackblock-denmark {
    border: 4px solid #005e3896;
}

.hackblock-swizerland {
    border: 4px solid #f18629a1;
}

.hackblock-ruiscothland {
    border: 4px solid #3cc954a6;
}

.hackblock-usa {
    border: 4px solid #7a15cc85;
}

.hackblock-findland {
    border: 4px solid rgba(255, 213, 0, 0.87);
}

.hackblock-canada {
    border: 4px solid #808080;
}

.linkblock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

i {
    margin-right: 10px;
    color: rgb(27, 27, 184);
}


@media screen and (max-width: 1550px) {
    .hackblock{
        padding: .3em 1em;
        margin-bottom: 1em;
        width: 30em;
    }
}

@media screen and (max-width: 1200px) {
    .hackblock{
        padding: .3em 1em;
        margin-bottom: 1em;
        width: 25em;
    }
}
